@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&display=swap');

body {
    margin: 0;
    font-family: 'Baloo Bhai 2', cursive;
    background:rgb(0, 0, 0);
    background-size: cover;
    overflow-x: hidden;
  }

.color{
    background-color: black;
  }

.acti:hover{
    color:black
}

.hamburger{
  background-color: white;
}

.loadbar {
  background-color: #40e6ff;
  height: 3px;
  animation: load 1s ease-in-out  1 normal ;
  position: absolute;
  top: 0;
  z-index: 1;
  
}


@keyframes load {
  0% {
      width: 0vw;
  }

  100% {
      width: 100vw;
  }

}


@media only screen and (max-width:1025px){
  .acti{
    background-color: rgb(8, 164, 255);
    border-radius: 0 20px 20px 0;
    
  }
  #myLinks{
    display: none;
  }
}
@media only screen and (min-width:1025px){
  .acti{
    background-color: rgb(8, 164, 255);
    border-radius: 0 0 90% 90%;
    
    /* border-left: 1px solid white;
    border-right: 1px solid white; */
    color: black
  }
  #myLinks{
    display: block;
  }
  
}
